.quiz {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 50px 100px;
    margin: 0 auto;
    &__amount {
        margin-top: 50px;
        font-size: 50px;
        text-align: center;
    }
    &__question {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 50px;
        width: 100%;
        min-height: 100px;
        padding: 10px;
        border: 1px solid lightblue;
        background-color: lightblue;
        border-radius: 10px;
        font-size: 20px;
    }
    &__variant {
        border: 1px solid lightblue;
        border-radius: 10px;
        padding: 10px;
        margin: 20px 0;
        font-size: 20px;
        list-style-type: none;
        cursor: pointer;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__score {
        margin-top: 30px;
        font-size: 50px;
    }
    &__btn {
        margin-top: 30px;
        width: 200px;
        height: 50px;
        border-radius: 5px;
        border: none;
        background-color: #0d6efd;
        color: white;
        cursor: pointer;
        &:hover {
            opacity: 0.9;
        }
    }
}
.active {
    background-color: greenyellow;
}

@media (max-width: 820px) {
    .quiz {
        padding: 50px 50px;
        &__amount {
            font-size: 40px;
        }
        &__score {
            font-size: 40px;
        }
        &__btn {
            height: 40px;
        }
    }
}

@media (max-width: 695px) {
    .quiz {
        &__amount {
            margin-top: 20px;
            font-size: 30px;
        }
        &__score {
            font-size: 30px;
        }
        &__btn {
            height: 30px;
        }
    }
}

@media (max-width: 630px) {
    .quiz {
        padding: 20px 20px;
        &__wrapper {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

@media (max-width: 400px) {
    .quiz {
        &__question {
            margin-top: 20px;
        }
        &__score {
            margin-top: 20px;
        }
    }
}